body{
    margin: 0;
}

#main{
    display: grid;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "section section aside aside"
                         "footer footer footer footer";
    grid-template-rows: 100px 50px 500px 100px;
    grid-template-columns: 25vw 25vw 25vw 25vw;
}

header{
    grid-area: header;
    background-color: rgb(255, 142, 221);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 12%;
}

nav{
    grid-area: nav;
    background-color: rgb(195, 245, 197);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    text-decoration: none;
}

section{
    grid-area: section;
    background-color: rgb(254, 255, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section img{
    width: 500px;
    height: auto;
    justify-content: center;
}

aside{
    grid-area: aside;
    background-color: rgb(183, 159, 250);
    display: flex;
    justify-content: center;
}

aside img{
    width: 500px;
    height: auto;
}

footer{
    grid-area: footer;
    background-color: rgb(148, 238, 241);
}